# Vim VHDL intelisense tool convig 
vhdltool-config.yaml
# Ignore quartus backup files 
*.bak
# Ignore compilation output files
output_files/
*db/
.qsys_edit/
# VHDL language server config file (vs code)
vhdl_ls.toml